@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Regular.eot');
    src: url('Cinzel-Regular.eot?#iefix') format('embedded-opentype'),
        url('Cinzel-Regular.woff2') format('woff2'),
        url('Cinzel-Regular.woff') format('woff'),
        url('Cinzel-Regular.ttf') format('truetype'),
        url('Cinzel-Regular.svg#Cinzel-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fauna One';
    src: url('FaunaOne.eot');
    src: url('FaunaOne.eot?#iefix') format('embedded-opentype'),
        url('FaunaOne.woff2') format('woff2'),
        url('FaunaOne.woff') format('woff'),
        url('FaunaOne.ttf') format('truetype'),
        url('FaunaOne.svg#FaunaOne') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

